<p>nested-iframe from {{{adtechUrl}}}</p>
<button id='fullscreen_button'>From nested-iframe - go full screen</button>
<script>
  document.querySelector('#fullscreen_button').addEventListener('click', () => {
  document.querySelector('body').requestFullscreen(); })
</script>