<div class='demo-explainer'>
  <ol>
    <li>
      Visit the
      <a href='{{{advertiserUrl}}}'>advertiser page</a>. The advertiser page embeds DSP code that adds the interest
      group for you. Check in DevTools under the Applications tab to check the interest group.
    </li>
    <li>
      Visit the
      <a href='{{{publisherUrl}}}'>publisher page</a>. The publisher page injects SSP code that starts the auction
      process. During the auction, each DSP in the ad interest group will make a bid for the ad slot. The SSP code will
      score each ad from DSP, and choose the winning ad to be rendered on the page.
    </li>
  </ol>
</div>