<div class='demo-description'>
  <p><b>Advertiser</b></p>
  <p>On this page, the DSP iframe is loaded that adds the user to an interest group. Now visit the
    <a href='{{{publisherUrl}}}' target='_blank'>publisher page</a>
    to see the ad</p>
</div>

<iframe id='dsp-pixel' src='{{{dspUrl}}}'></iframe>
{{!-- <iframe id='adtech-pixel' src='{{{adtechUrl}}}'></iframe> --}}