<script src='{{{sspUrl}}}/run-auction.js'> </script>
<script>
  runAuction('{{{sspUrl}}}', '{{{dspUrl}}}')
</script>

<div class='demo-description'>
  <p><b>Publisher</b></p>
  <p>On this page, SSP code is loaded and requests the auction to be executed within the browser. After you have visited
    the
    <a href='{{{advertiserUrl}}}' target='_blank'>advertiser page</a>
    and has been assigned to an interest group, an example ad should be rendered below.</p>
</div>

<fencedframe id='protected-audience-ad' mode='opaque-ads'></fencedframe>