<p>top-level page from {{{publisherUrl}}}</p>
<button id='fullscreen_button'>From parent - go full screen</button>
<script>
  document.querySelector('#fullscreen_button').addEventListener('click', () => {
  document.querySelector('body').requestFullscreen(); })
</script>

<iframe allow='fullscreen' src='{{{sspUrl}}}/permissions-test' style='height: 300px;'></iframe>